    /*
    Flaticon icon font: Flaticon
    Creation date: 30/03/2017 10:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cup:before { content: "\f100"; }
.flaticon-call-center-woman:before { content: "\f101"; }
.flaticon-call-center-agent:before { content: "\f102"; }
.flaticon-female-call-center-agent:before { content: "\f103"; }
.flaticon-interface:before { content: "\f104"; }
.flaticon-bar-graph-in-speech-bubble:before { content: "\f105"; }
.flaticon-dollar-sticker:before { content: "\f106"; }
.flaticon-satellite-transmission:before { content: "\f107"; }
.flaticon-mixer:before { content: "\f108"; }
.flaticon-car:before { content: "\f109"; }
.flaticon-car-tire-change:before { content: "\f10a"; }
.flaticon-wrench:before { content: "\f10b"; }
.flaticon-key:before { content: "\f10c"; }
.flaticon-placeholder:before { content: "\f10d"; }
.flaticon-factory-stock-house:before { content: "\f10e"; }
.flaticon-paint-brush:before { content: "\f10f"; }
.flaticon-engine:before { content: "\f110"; }
.flaticon-dollar-symbol:before { content: "\f111"; }
.flaticon-rim:before { content: "\f112"; }
.flaticon-man-and-recycling-bin:before { content: "\f113"; }
.flaticon-settings:before { content: "\f114"; }
.flaticon-plug:before { content: "\f115"; }
.flaticon-car-door:before { content: "\f116"; }
.flaticon-speedometer:before { content: "\f117"; }
.flaticon-sedan-car-front:before { content: "\f118"; }
.flaticon-time:before { content: "\f119"; }
.flaticon-transport:before { content: "\f11a"; }
.flaticon-racing-flag:before { content: "\f11b"; }
.flaticon-road-with-broken-line:before { content: "\f11c"; }
.flaticon-automatic-flash-symbol:before { content: "\f11d"; }
.flaticon-gasoline-pump:before { content: "\f11e"; }
.flaticon-call-center-operator:before { content: "\f11f"; }
.flaticon-handshake:before { content: "\f120"; }
.flaticon-security:before { content: "\f121"; }
    
    $font-Flaticon-cup: "\f100";
    $font-Flaticon-call-center-woman: "\f101";
    $font-Flaticon-call-center-agent: "\f102";
    $font-Flaticon-female-call-center-agent: "\f103";
    $font-Flaticon-interface: "\f104";
    $font-Flaticon-bar-graph-in-speech-bubble: "\f105";
    $font-Flaticon-dollar-sticker: "\f106";
    $font-Flaticon-satellite-transmission: "\f107";
    $font-Flaticon-mixer: "\f108";
    $font-Flaticon-car: "\f109";
    $font-Flaticon-car-tire-change: "\f10a";
    $font-Flaticon-wrench: "\f10b";
    $font-Flaticon-key: "\f10c";
    $font-Flaticon-placeholder: "\f10d";
    $font-Flaticon-factory-stock-house: "\f10e";
    $font-Flaticon-paint-brush: "\f10f";
    $font-Flaticon-engine: "\f110";
    $font-Flaticon-dollar-symbol: "\f111";
    $font-Flaticon-rim: "\f112";
    $font-Flaticon-man-and-recycling-bin: "\f113";
    $font-Flaticon-settings: "\f114";
    $font-Flaticon-plug: "\f115";
    $font-Flaticon-car-door: "\f116";
    $font-Flaticon-speedometer: "\f117";
    $font-Flaticon-sedan-car-front: "\f118";
    $font-Flaticon-time: "\f119";
    $font-Flaticon-transport: "\f11a";
    $font-Flaticon-racing-flag: "\f11b";
    $font-Flaticon-road-with-broken-line: "\f11c";
    $font-Flaticon-automatic-flash-symbol: "\f11d";
    $font-Flaticon-gasoline-pump: "\f11e";
    $font-Flaticon-call-center-operator: "\f11f";
    $font-Flaticon-handshake: "\f120";
    $font-Flaticon-security: "\f121";