#page_scroller {
    background: #2c3e50;
}

/** MAIN HEADER AREA START **/
.main-header {
    border-top: solid 2px #2c3e50;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #fff !important;
    background: #2c3e50;
}

.main-header .navbar-default .nav > li > a:hover {
    background: #2c3e50;
}

.navbar-nav .dropdown-menu > li > a:hover {
    border-right: solid 5px #2c3e50;
    color: #2c3e50;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    color: #fff;
    background-color: #2c3e50;
}

.btn-view {
    background: #2c3e50;
}

.btn-view:hover {
    background: #1b2936;
}

.car-box .detail header h5 a {
    color: #2c3e50;
}

.car-box .detail header .price {
    color:  #2c3e50;
}

.car-box .detail .facilities-list li i {
    color: #2c3e50;
}

.btn-details {
    background:  #2c3e50;
}

.btn-details:hover {
    background: #1b2936;
}

.book-btn-l {
    border-right: 1px solid #1c2936;
}

.featured-ribon {
    background: #2c3e50;
}

.overlap-btn {
    background: #2c3e50;
    border: solid 2px #2c3e50;
}

.overlap-btn:hover {
    background: #1b2936;
    border: solid 2px #1b2936;
}


.modal-title {
    color: #2c3e50;
}

.sub-footer form .button-small {
    border: solid 1px #2c3e50;
    background: #2c3e50;
}

.breadcrumb-area .btn-default:hover {
    background: #2c3e50;
}

.block-heading h4 {
    background: #2c3e50;
}

.change-view-btn {
    color: #2c3e50;
    border: solid 1px #2c3e50;
}

.change-view-btn:hover {
    border: solid 1px #2c3e50;
    background: #2c3e50;
}

.active-view-btn {
    background: #2c3e50;
    border: solid 1px #2c3e50;
}

.active-view-btn:hover {
    border: solid 1px #2c3e50;
    color: #2c3e50;
}

.car-list-box .detail header h3 a {
    color: #2c3e50;
}

.car-list-box .detail header .price {
    color: #2c3e50;
}

.car-list-box .detail .facilities-list li i {
    color: #2c3e50;
}

.pagination > li > a {
    color: #2c3e50;
}

.pagination > li > a:hover {
    background: #2c3e50;
}

.pagination > .active > a {
    background: #2c3e50;
    border-color: #2c3e50;
}

.pagination > .active > a:hover {
    background: #2c3e50;
    border-color: #2c3e50;
}

.sidebar-widget .title {
    color: #2c3e50;
}

.section-heading .media .media-left i {
    background: #2c3e50;
}

.section-heading .media .media-body h4 {
    color: #2c3e50;
}

.sidebar-widget .title:after {
    background-color: #2c3e50;
}

.helping-Center ul li i {
    background: #2c3e50;
}

.slider.slider-horizontal .slider-selection {
    background: #2c3e50;
}

.slider.slider-horizontal .slider-handle {
    background: #2c3e50;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    color: #2c3e50;
}

.bootstrap-select .dropdown-menu li a {
    color: #2c3e50;

}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.recent-cars .media .media-body h3 a {
    color: #2c3e50;

}

.option-bar .header-price h3 {
    color: #2c3e50;
}

.car-details-body .title.title:after {
    background-color: #2c3e50;
}

.amenities-box ul li i {
    color: #2c3e50;
}

.book-btn {
    background: #2c3e50;
    border: 1px solid #2c3e50;
}

.reasons .media .media-left i {
    background: #2c3e50;
}

.reasons .media .media-body h4 {
    color: #2c3e50;
}

.twitter-feed a {
    color: #2c3e50;
}

.details-sidebar .title {
    color: #2c3e50;
}

.about-item .text h2:after {
    background-color: #2c3e50;
}

.about-box .detail h3:after {
    background-color: #2c3e50;
}

.we-best .content i {
    background: #2c3e50;
}

.we-best .content h4 {
    color: #2c3e50;
}

.contact-details .media .media-left i {
    background: #2c3e50;
}

.contact-details .media .media-body h4:after {
    background-color: #2c3e50;
}

.blog-box .detail h1:after {
    background-color: #2c3e50;
}

.blog-box .detail h1 a {
    color: #2c3e50;
}

.blog-box .detail .header a {
    color: #2c3e50;
}

blockquote {
    border-left: 4px solid #2c3e50;
}

.blog-box .title {
    color: #2c3e50;
}

.comments-thread .title {
    color: #2c3e50;
}

.comment-info span i {
    color: #2c3e50;
}

.comment a {
    background: #2c3e50;
}

.contact-form .title {
    color: #2c3e50;
}

.form-content-box .header {
    background: #2c3e50;
}

.btn-submit {
    background: #2c3e50;
}

.btn-submit:hover{
    background: #1b2936;
}

.form-content-box .footer span a {
    color: #2c3e50;
}

.banner .btn-default:hover{
    background: #2c3e50;
}

.error404-content h2 {
    color: #2c3e50;
}

.featured-car-slider .details h4 a {
    color: #2c3e50;
}

.featured-car-slider .details .price {
    color: #2c3e50;
}

.btn-div a span {
    background: #2c3e50;
}

.features-item .detail h4:after {
    background-color: #2c3e50;
}

.features-item .detail h4 a:hover {
    color: #2c3e50;
}

.typography-page mark.color {
    background-color: #2c3e50;
}

.list-3 li:before, .list-2 li:before, .list-1 li:before {
    color: #2c3e50;
}

.numbered.color.filled ol > li::before {
    background: #2c3e50;
    border: 1px solid  #2c3e50;
    background-color:  #2c3e50;
}

.numbered.color ol > li::before {
    border: 1px solid #2c3e50;
    color: #2c3e50;
}

.panel-box .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #2c3e50;
}

.nav>li>a:hover{
    background: #2c3e50;
}

.opening-hours h3:after {
    background-color: #2c3e50;
}

.about-text ul li i {
    color: #2c3e50;
}

.our-serivce-2 .media .media-left i {
    background: #2c3e50;
}

.pricing-tables-box .price-header-red{
    background: #2c3e50;
}

.panel-title i {
    color: #2c3e50;
}

@media (max-width: 768px) {
    .navbar-default .navbar-toggle {
        background: #2c3e50;
        border: solid 1px #2c3e50;
    }
}